h1 {
  display: inline-block;
  padding: 20px 40px;
}

nav {
  padding: 40px 25px;
  background-color: #75a9f9;
}

nav ul li {
  display: inline-block;
}
nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: black;
  padding-left: 80px;
}
nav li h1 {
  color: white;
  font-size: 40px;
  font-weight: bolder;
}

/* .container {
  border-radius: 5px;
  box-shadow: 0 2px 5px rbga(0, 0, 0, 0.3);
} */

body {
  background-color: #d4e2fc;
  font-family: Helvetica, "Times New Roman", Times, serif;
  display: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

label {
  display: inline-flex;
  position: relative;
  font-size: 18px;
  padding-right: 70px;
  width: 150px;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

#form {
  background-color: #d4e2fc;
  border: none;
}
.form-control input {
  width: 65%;
}

.form-control {
  margin-bottom: 10px;
  padding-bottom: 20px;
  position: relative;
}

.form-control label {
  display: inline-block;
  margin-bottom: 5px;
  padding-top: 15px;
}

.form-control input {
  border: 2px solid #271d1d;
  border-radius: 3px;
  display: inline-flex;
  position: center;
  font-family: inherit;
  font-size: 14px;
}

.form-control small {
  color: #e74c3c;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-control.error small {
  visibility: visible;
}

.statusUpdate {
  height: 35px;
  width: 65%;
}
.buttonGroup {
  display: flex;
  position: relative;
  justify-content: center;
}

.btn {
  margin: 15px;
  width: 150px;
}

.header h1 {
  margin: 0;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

#tasksList li {
  background-color: #d4e2fc;
  border: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
}
