h1 {
  display: inline-block;
}

nav {
  padding: 75px 25px;
}

nav ul li {
  display: inline-block;
}
nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
  color: #828282;
  padding-left: 80px;
}
