h1 {
  display: inline-block;
  padding: 20px 40px;
}

nav {
  padding: 30px 25px;
}

nav ul li {
  display: inline-block;
}
nav ul li a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight: bolder;
  padding-left: 80px;
}
nav li h1 {
  color: white;
  font-size: 80px;
  font-weight: bolder;
  -webkit-text-stroke: 1px rgb(147, 147, 147);
}

body {
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(117, 169, 249, 1) 0%,
    rgba(212, 226, 252, 1) 94%
  );
  font-family: Helvetica, "Times New Roman", Times, serif;
  display: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

label {
  display: inline-flex;
  position: relative;
  font-size: 20px;
  padding-right: 70px;
  width: 190px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

#form {
  border: none;
}

.form-control {
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;

  background-color: transparent;
  border: none;
}

.form-control label {
  display: inline-block;
  text-align: center;
  margin-bottom: 5px;
  padding-top: 15px;
}

.form-control input {
  width: 65%;
  background-color: white;
  border: 1px solid #271d1d;
  border-radius: 3px;
  display: inline-flex;
  position: center;
  font-family: inherit;
  font-size: 22px;
}

.form-control small {
  color: #e74c3c;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
}

.form-control.error small {
  visibility: visible;
}

.statusUpdate {
  height: 55px;
  width: 65%;
}

.buttonGroup {
  display: flex;
  position: relative;
  justify-content: center;
}

.btn {
  margin: 15px;
  width: 150px;
}

.header h1 {
  margin: 0;
  align-items: center;
  justify-content: center;
  margin-top: 0;
}

#tasksList li {
  border: none;
  display: inline-flex;
  position: relative;
  justify-content: center;
  margin: 30px;
}
